{% extends 'base.html' %}

{% block content %}
{{message}}
<div class="container-fluid">
                        <h1 class="mt-4">Add Filter</h1>
                        
                        <div class="row">
                        <form action="add" method="POST">
                        {% csrf_token %}
    <div class="form-group" style="width: 100%; padding: 15px;">
    <label for="button Name">New Filter Name</label>
    <input type="text" name="ButtonName" class="form-control" aria-describedby="ButtonName" placeholder="Enter Filter Name Here">
    <br>
    <label for="JQL">JQL</label>
    <input type="text" name="ButtonJql" class="form-control" aria-describedby="ButtonName" placeholder="Enter Jql Name Here">
        <br>
        <input class="btn btn-success" type="submit" value="Add Filter">
                   </div>
                        </form>
                        
                        </div>

                        
{% endblock  %}