{% extends 'base.html' %}

{% block content %}

<form action="showCustomDashBoard" method="POST"> 
<div class="container-fluid">
                        <h1 class="mt-4">Custom Dashboard</h1>
                        
                        <div class="column">
                        <form action="add" method="POST">
                        {% csrf_token %}

    <div class="" style="width: 100%; padding: 15px;">

    <h4>Start Date</h4>
    <select class="form-control" name="startMonth" placeholder="Enter Filter Name Here" required>
    <option value="1" > Jan </option>
    <option value="2"> Feb </option>
    <option value="3"> Mar </option>
    <option value="4"> April </option>
    <option value="5"> May </option>
    <option value="6"> June </option>
    <option value="7"> July </option>
    <option value="8"> Aug </option>
    <option value="9"> Sept </option>
    <option value="10"> Oct </option>
    <option value="11"> Nov </option>
    <option value="12"> Dec </option>
    
    </select>
        <input type="text" class="form-control" name="startYear" placeholder="Year" style="font-color: black;" required>
                </div>
    <div class="" style="width: 100%; padding: 15px;">

    <h4>End Date</h4>
    <select class="form-control"  name="endMonth" placeholder="Enter Filter Name Here" required>
    <option value="1" > Jan </option>
    <option value="2"> Feb </option>
    <option value="3"> Mar </option>
    <option value="4"> April </option>
    <option value="5"> May </option>
    <option value="6"> June </option>
    <option value="7"> July </option>
    <option value="8"> Aug </option>
    <option value="9"> Sept </option>
    <option value="10"> Oct </option>
    <option value="11"> Nov </option>
    <option value="12"> Dec </option>
    
    </select>
        <input type="text" class="form-control" name="endYear" placeholder="Year" style="font-color: black;" required>
    <br>
        <input class="btn btn-success" type="submit" value="Show Dashboard">
                   </div>
        
        
                        </form>
                        
                        </div>

    </div>

    </form>
{% endblock  %}