{% extends 'base.html' %}
{% block content %}
  
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard ({{year}})</h1>
                        
                        <div class="row">

                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Quarter 1 JAN FEB MAR</div>
                                    <div class="card-body"><canvas id="Quarter1chart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Quarter 2 APR MAY JUN</div>
                                    <div class="card-body"><canvas id="Quarter2chart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Quarter 3 JUL AUG SEP</div>
                                    <div class="card-body"><canvas id="Quarter3chart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Quarter 4 OCT NOV DEC</div>
                                    <div class="card-body"><canvas id="Quarter4chart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>

                        
                </main>

                
            <script>
const chart1 = document.getElementById("Quarter1chart");
console.log(chart1);
data = {
labels : ["Quater1"],
datasets : [{
label : "P0 ({{q1p0}})",
data : [{{q1p0}}],
backgroundColor: "red",
},
{
label : "P1 ({{q1p1}})",
data : [{{q1p1}}],

backgroundColor: "orange",
},
{
label : "BOTH ({{q1p0p1}})",
data : [{{q1p0p1}}],

backgroundColor: "Cyan",
},
]
}
options = {
 scales: {
        xAxes: [{
            gridLines: {
                offsetGridLines: true
            },
            scaleLabel: {
            display: true,
            labelString: 'Issues'
          }
        }],
        yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0, 
                beginAtZero: true   
            },
            scaleLabel: {
            display: true,
            labelString: 'No of Issues'
          }
        }]
    }
}
var myBarChart = new Chart(chart1, {
    type: 'bar',
    data: data,
    options: options
});
     
const chart2 = document.getElementById("Quarter2chart");
console.log(chart2);
data = {
labels : ["Quater2"],
datasets : [{
label : "P0 ({{q2p0}})",
data : [{{q2p0}}],
backgroundColor: "red",
},
{
label : "P1 ({{q2p1}})",
data : [{{q2p1}}],

backgroundColor: "orange",
},
{
label : "BOTH ({{q2p0p1}})",
data : [{{q2p0p1}}],

backgroundColor: "Cyan",
},
]
}
options = {
 scales: {
        xAxes: [{
            gridLines: {
                offsetGridLines: true
            },
            scaleLabel: {
            display: true,
            labelString: 'Issues'
          }
        }],
        yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0, 
                beginAtZero: true   
            },
            scaleLabel: {
            display: true,
            labelString: 'No of Issues'
          }
        }]
    }
}
var myBarChart = new Chart(chart2, {
    type: 'bar',
    data: data,
    options: options
});
     

     
     
const chart3 = document.getElementById("Quarter3chart");
console.log(chart3);
data = {
labels : ["Quater3"],
datasets : [{
label : "P0 ({{q3p0}})",
data : [{{q3p0}}],
backgroundColor: "red",
},
{
label : "P1 ({{q3p1}})",
data : [{{q3p1}}],

backgroundColor: "orange",
},
{
label : "BOTH ({{q3p0p1}})",
data : [{{q3p0p1}}],

backgroundColor: "Cyan",
},
]
}
options = {
 scales: {
        xAxes: [{
            gridLines: {
                offsetGridLines: true
            },
            scaleLabel: {
            display: true,
            labelString: 'Issues'
          }
        }],
        yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0, 
                beginAtZero: true   
            },
            scaleLabel: {
            display: true,
            labelString: 'No of Issues'
          }
        }]
    }
}
var myBarChart = new Chart(chart3, {
    type: 'bar',
    data: data,
    options: options
});
     
     



     
const chart4 = document.getElementById("Quarter4chart");
console.log(chart4);
data = {
labels : ["Quater4"],
datasets : [{
label : "P0 ({{q4p0}})",
data : [{{q4p0}}],
backgroundColor: "red",
},
{
label : "P1 ({{q4p1}})",
data : [{{q4p1}}],

backgroundColor: "orange",
},
{
label : "BOTH ({{q4p0p1}})",
data : [{{q4p0p1}}],

backgroundColor: "Cyan",
},
]
}
options = {
 scales: {
        xAxes: [{
            gridLines: {
                offsetGridLines: true
            },
            scaleLabel: {
            display: true,
            labelString: 'Issues'
          }
        }],
        yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0, 
                beginAtZero: true   
            },
            scaleLabel: {
            display: true,
            labelString: 'No of Issues'
          }
        }]
    }
}
var myBarChart = new Chart(chart4, {
    type: 'bar',
    data: data,
    options: options
});
     



     
        </script>
{% endblock  %}