{% extends 'base.html' %}

{% block content %}
              
  <div class="row">

                            <div class="col-xl-6">
                                <div class="card mb-12">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{startMonth}}&nbsp;{{startYear}} 
                                    <form action="generateGraph" method="POST">
                                    {% csrf_token %}
                            <select name="month" style="width: 100px; background: white; padding: 5px; border: 10px;">
                           
                           {% if startMonth == "Jan" %}
                            <option value="1" selected >Jan</option>
                            {% else %}
                        <option value="1">Jan</option>
                            {% endif %}


                             
                           {% if startMonth == "Feb" %}
                            <option value="2" selected >Feb</option>
                            {% else %}
                        <option value="2">Feb</option>
                            {% endif %}


                             
                           {% if startMonth == "Mar" %}
                            <option value="3" selected >Mar</option>
                            {% else %}
                        <option value="3">Mar</option>
                            {% endif %}


                             
                           {% if startMonth == "April" %}
                            <option value="4" selected >April</option>
                            {% else %}
                        <option value="4">April</option>
                            {% endif %}


                             
                           {% if startMonth == "May" %}
                            <option value="5" selected >May</option>
                            {% else %}
                        <option value="5">May</option>
                            {% endif %}


                             
                           {% if startMonth == "June" %}
                            <option value="6" selected >June</option>
                            {% else %}
                        <option value="6">June</option>
                            {% endif %}


                             
                           {% if startMonth == "July" %}
                            <option value="7" selected >July</option>
                            {% else %}
                        <option value="7">July</option>
                            {% endif %}


                             
                           {% if startMonth == "Aug" %}
                            <option value="8" selected >Aug</option>
                            {% else %}
                        <option value="8">Aug</option>
                            {% endif %}


                             
                           {% if startMonth == "Sept" %}
                            <option value="9" selected >Sept</option>
                            {% else %}
                        <option value="9">Sept</option>
                            {% endif %}


                             
                           {% if startMonth == "Oct" %}
                            <option value="10" selected >Oct</option>
                            {% else %}
                        <option value="10">Oct</option>
                            {% endif %}


                             
                           {% if startMonth == "Nov" %}
                            <option value="11" selected >Nov</option>
                            {% else %}
                        <option value="11">Nov</option>
                            {% endif %}


                             
                           {% if startMonth == "Dec" %}
                            <option value="12" selected >Dec</option>
                            {% else %}
                        <option value="12">Dec</option>
                            {% endif %}


                            
                            
                            </select>

                            <input type="text" name="year" style="width: 100px; background: white; padding: 3px; border: 10px;" placeholder="Year" value="{{startYear}}" required>
                                    <input type="submit" value="Generate" name="submit" class="btn btn-success" style="padding: 3px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;P0<font color="red">({{q1p0}})</font> P1<font color="orange">({{q1p1}})</font> Both<font color="purple">({{q1p0p1}})</font>
                                    </form>
                                    
                                    </div>
                                    <div class="card-body"><canvas id="Quarter1chart" width="100%" height="40"></canvas></div>
                                </div>
                </div>
<style>
table{
    background: white;
}
td{
    padding: 20px;
    border: 5px solid black;
}
.p0{
    color: red;
}

.p1{
    color: orange;
}

.p0p1{
    color: cyan;
}

</style>
                <table>
                <tr>
                <td><h1 class="p0">P0</h1></td>
                <td><h1 class="p0">{{q1p0}}</h1></td>
                </tr>
                <tr>
                <td><h1 class="p1">P1</h1></td>
                <td><h1 class="p1">{{q1p1}}</h1></td>
                </tr>
                <tr>
                <td><h1 class="p0p1">BOTH</h1></td>
                <td><h1 class="p0p1">{{q1p0p1}}</h1></td>
                </tr>
                
                </table>

    <script>
const chart1 = document.getElementById("Quarter1chart");
console.log(chart1);
data = {
labels : ["Quater1"],
datasets : [{
label : "P0 ({{q1p0}})",
data : [{{q1p0}}],
backgroundColor: "red",
},
{
label : "P1 ({{q1p1}})",
data : [{{q1p1}}],

backgroundColor: "orange",
},
{
label : "BOTH ({{q1p0p1}})",
data : [{{q1p0p1}}],

backgroundColor: "Cyan",
},
]
}
options = {
 scales: {
        xAxes: [{
            gridLines: {
                offsetGridLines: true
            },
            scaleLabel: {
            display: true,
            labelString: 'Issues'
          }
        }],
        yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0, 
                beginAtZero: true   
            },
            scaleLabel: {
            display: true,
            labelString: 'No of issues'
          }
        }]
    }
}
var myBarChart = new Chart(chart1, {
    type: 'bar',
    data: data,
    options: options
});

{% comment %} setTimeout(function(){
   window.location.reload(1);
}, 5000); {% endcomment %}

     </script>    


{% endblock  %}