{% extends 'base.html' %}

{% block  content %}

     <div class="container-fluid">
                        <h1 class="mt-4">View Filters</h1>
                        
                        <div class="row">
{% for filter in filters %}

<div style=" float: left; padding: 10px;">
<input type="hidden" value="{{filter.id}}" > 
<a href="/charts/view/{{filter.id}}" target="_blank"><button class="btn btn-info">{{filter}}</button></a><br>
</form>
</div>
{% endfor %}
                        
                        </div>

{% endblock  %}
