{% extends 'base.html' %}

{% block content %}

  <meta http-equiv="refresh" content="10; url=http://localhost:8000/">
  

{% if data %}

  <div class="row">

                            <div class="col-xl-12">
                                <div class="card mb-12">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>{{ButtonName}}</div>
                                    <div class="card-body"><canvas id="Quarter1chart" width="100%" height="40"></canvas></div>
                                </div>
                </div>

      <script>
const chart1 = document.getElementById("Quarter1chart");
console.log(chart1);
data = {
labels : ["Quater1"],
datasets : [{
label : "P0 ({{q1p0}})",
data : [{{q1p0}}],
backgroundColor: "red",
},
{
label : "P1 ({{q1p1}})",
data : [{{q1p1}}],

backgroundColor: "orange",
},
{
label : "BOTH ({{q1p0p1}})",
data : [{{q1p0p1}}],

backgroundColor: "Cyan",
},
]
}
options = {
 scales: {
        xAxes: [{
            gridLines: {
                offsetGridLines: true
            }
        }],
        yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0, 
                beginAtZero: true   
            }
        }]
    }
}
var myBarChart = new Chart(chart1, {
    type: 'bar',
    data: data,
    options: options
});

     </script>    

     {% else%}


     <h1> No Chart To Display </h1>


     {% endif %}   
{% endblock  %}